@use "../abstracts/variables" as v;

body {
  background-color: v.$body-color;
}

h1 {
  color: v.$h1-color;
}

a {
  color: v.$a-color;
  &:hover {
    color: v.$a-color-hover;
  }
}

table {
  color: v.$table-color;
  td {
    border-top: 0.1rem solid v.$table-color;
  }
}
